run = "gunicorn --bind 0.0.0.0:80 main:app"
modules = ["web", "python-3.10", "nodejs-20", "nix"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:80 main:app"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80
externalPort = 80
