<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portals</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <h1>Welcome to the Shattered Realms</h1>
  <p>The fate of the dimensions rests in your hands. Choose a portal to embark on your quest and confront Bertak in the ultimate battle to restore the time machine and save all realms.</p>

    <button class="ancient-portal" onclick="window.location.href='/ancient'">Ancient Portal</button>
  <button class="medieval-portal" onclick="window.location.href='/medieval'">Medieval Portal</button>
  <button class="futuristic-portal" onclick="window.location.href='/futuristic'">Futuristic Portal</button>
  <button class="final-boss-portal" onclick="window.location.href='/boss'">Final Boss Portal</button>
</body>
</html>